.goal {
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: #e9e9ec;
    }

    &__content {
        position: relative;
        display: block;
        width: 600px;
        height: 400px;
        margin-top: 100px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 50px #adadad;
    }

    &__title {
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: 20px;
        font-size: 20px;
    }

    &__description {
        position: relative;
        margin: 20px;
        font-size: 18px;
    }

    &__additional {
        position: relative;
        margin: 20px;
        font-size: 18px;
    }

    &__status {
        position: relative;
        margin: 20px;
        font-size: 18px;
    }

    &__download {
        display: flex;
        position: relative;

        & div {
            margin: 0 5px;
        }
    }


    &__file {
        display: none;
    }

    &__button {
        position: relative;
        //border: lightgray 1px solid;
        border-radius: 20px;
        padding: 10px;
        width: 100%;
        background: transparent;
    }

    &__button-color {
        position: absolute;
        background: linear-gradient(to right bottom, #21d4fd, #b721ff);
        width: 200%;
        height: 40px;
        left: -100%;
        transition: all 0.5s;
    }

    &__submit {
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        margin: 50px 40px;
        box-shadow: 0 5px 10px lightgray;

        &:hover {
            div#color {
                left: 0;
            }
        }

        &:active {
            margin: 51px 41px;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
}