.navigation {
    &__container {
        display: contents;
        position: relative;
        width: 48px;

        &:hover {
            & div.navigation-item__active {
                display: none;
            }
        }
    }
    &__content:hover {
        width: 200px;
    }
    &__content {
        position: fixed;
        z-index: 2;
        top: 81px;
        left: 0;

        display: flex;
        overflow: hidden;
        flex-direction: column;

        box-sizing: border-box;
        width: 60px;
        height: 100%;

        transition: all 0.5s;

        background: #fff;
    }
}
