// Body
$gray:#ccc;
$default-gray: #999;
$light-gray: #ddd;
$default-font-color: #222;

$white-font-color: #fff;
$light-darker-font-color: #999;
$grey-font-color: #aaa;

$high-priority-background: #bf3f3f;
$medium-priority-background: #e6a919;
$low-background-priority: green;
$noset-background-priority: #ccc;
$white-background-color: #fff;
$dark-grey-background: #666;
$blue-light-background: #1273b1;
$blue-dark-background: #0c4d75;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$font-size-page-title: 1.5rem;
$font-size-main-title: 1.1rem;
$font-size-title: 1.1rem;
$font-size-sm-body: 0.8rem;
$font-size-sm-header: 0.7rem;

// Colors
$blue: #3490dc;
$purple: #9561e2;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: green;

$default-blue: rgb(0, 120, 195);
$light-gray: #e9ebed;
$default-red: #ff0101;

$default-button-size: 35px;
$navigation-width: 200px;
