@import '../../../../styles/variables';

.forgot-password {
    &__content {
        position: relative;

        width: 400px;
        min-height: 100px;
        padding: 80px 35px;

        background: $white-background-color;
    }
    &__logo {
        min-height: 100px;
        margin-bottom: 20px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
    }
    &__message-container {
        min-height: 15px;
    }

    &__input-container {
        margin-bottom: 5px;
    }
    &__description-container {
        margin-bottom: 40px;
    }
    &__description {
        color: #888;

        font-size: 14px;
    }
    &__data-message {
        text-align: center;

        color: white;

        font-size: 18px;
    }
    &__data-incorrect-container {
        justify-content: center;

        margin: 20px 0px;
        margin-top: 0;
        padding: 10px;

        background: $red;
    }
    &__data-correct {
        background: $green;
    }
    &__login {
        display: flex;
        justify-content: center;

        margin-top: 20px;
    }
    &__login-link {
        font-size: 1rem;
    }
    &__spinner-button {
        width: 30px;
        height: 30px;

        div:before {
            background: white;
        }
    }
}
