@import '../../../../styles/variables';

.reset-password {
    &__content {
        width: 400px;
        min-height: 100px;
        padding: 80px 35px;

        background: $white-background-color;
    }
    &__logo {
        min-height: 100px;
        margin-bottom: 40px;

        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    &__input-container {
        margin-bottom: 10px;
    }
    &__button-container {
        height: $default-button-size;
        margin-bottom: 25px;

        color: #fff;

        font-size: $font-size-main-title;
    }

    &__description {
        color: $light-darker-font-color;
        color: #7a7a7a;

        font-size: 14px;
    }
    &__spinner-button {
        width: 30px;
        height: 30px;
        div:before {
            background: white;
        }
    }
    &__data-message {
        color: white;

        font-size: 18px;
    }
    &__data-message-container {
        justify-content: center;

        margin: 20px 0px;
        margin-top: 0;
        padding: 10px;

        background: $red;
    }
    &__data-correct {
        background: $green;
    }
    &__login {
        display: flex;
        justify-content: center;

        margin-bottom: 20px;
    }
    &__login-link {
        color: #888;

        font-size: 16px;
    }
}
